<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.notester">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Profiler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainFrameActivity"
            android:label="Profiler"

            android:parentActivityName="com.example.android.notester.MainFrameActivity" >

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.notester.MainFrameActivity" />
        </activity>


        <activity android:name=".NewNoteActivity"
                  android:label = "Create New Profile"
            android:parentActivityName="com.example.android.notester.MainFrameActivity" >

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.notester.MainFrameActivity" />
        </activity>




        <activity android:name=".DisplayActivity"
                  android:label = "Display"

            android:parentActivityName="com.example.android.notester.MainFrameActivity" >

        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android.notester.MainFrameActivity" />
        </activity>
    </application>

</manifest>